@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


table,th,td { 
    border: 1px solid white;
    background-color: #192339;
    /* border-collapse: separate */
}

.input-phone-invalid {
    background-color: '#ef4444' !important ;
}
.react-international-phone-input-container {
    border-color: '#ef4444' !important ;
}
.input-phone-number input:focus{
    background-color: #2d3748 !important; 
    opacity: 0.65 !important; 
    outline: none !important;
    border-color: #90cdf4 !important; 
    box-shadow: 0 0 0 1px #90cdf4 !important;  
}

.input-phone-invalid {
    border-color: red !important;
}

.input-phone-normal {
    background-color: #1f2937 !important;
    color: white !important;
    width: 100% !important;
    font-size: 1em !important;
    border-radius: 0 !important;
}

.input-phone-number input:hover {
    opacity: 0.65 !important; 
}

.input-phone-number button {
    background-color: #1f2937 !important;
    border-radius: 0 !important;
}

.country-container {
    background-color: #b6c1cf !important;
}

.country-container li:hover ,
.react-international-phone-country-selector-dropdown__list-item--selected{
    background-color: rgb(144, 153, 202) !important;
}

